*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.one_product{
    width: 100%;
    height: 100vh;
}

/* navbar */
/* navbra styling */
.navbar-nav{
    padding: 8px 10px;
    font-family: 'Baloo Bhai 2', cursive;
  }
  .nav-item{
    margin: 0px 10px;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  .nav-item:hover{
    /* text-decoration: underline; */
    transition: ease-in-out;
    
  }
  .nav-item::after{
  content: '';
  background-color: gold;
  width: 0%;
  height: 1px;
  display: block;
  transition: 0.6s ease-in-out;
  }
  .nav-item:hover::after{
    width: 100%;
  }
  .icon{
    margin: 0px 10px;
    color: white;
  }
  /* navbar end */
/* navbar end */
.me{
  /* padding: 20px 0px; */
  width: 100%;
  height: 5vh;
  background-color:transparent;
  /* background-color: goldenrod; */
  /* opacity: .3; */
}
#pra{
  color: black;
  margin-top: 30px;
  text-align: center;
}
.firstimage{
  transition: ease-in-out all 1.1s;
  cursor: pointer;
}
.firstimage:hover{
  transform: scale(1.1);
}